* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

/* Fixed select field large than the text fields */
.form-select-field{
  font-weight: 500;
  width: 90%;
  margin-bottom: 2%;
  font: icon;  
}

/* To center tables */
.MuiTableContainer-root {  
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  padding-bottom: 60px;
}

.MuiOutlinedInput-input {
  padding: 8.5px 14px;
}
.MuiFormHelperText-root {
  color: rgb(255 0 0 / 54%) !important;
}

/* User menu - NOT MAIN MENU */
.menu-container {
  position: relative;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li p {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: center;
}

footer {
  background: black;
  padding: 50px 50px;
}

footer h3 {
  color: white;
  text-align: center;
  margin-top: -20px;
}

footer p {
  color: white;
  text-align: center;  
}

/* Remove the date placeholder mm/dd/yyyy */
input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text { 
  color: transparent; 
}

/* To apply main menu style on Prod */
.drawerPaper-5 {
  color: #fff !important;
  width: 240px;
  position: relative !important;
  background: #535454 !important;
  padding-top: 32px;
  white-space: nowrap;
  padding-bottom: 32px;
}

.home-page {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
}

.home-page h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.home-page p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.home-page ul {
  list-style-type: disc;
  margin-left: 0;
  margin-bottom: 20px;
  padding-left: 1.5rem;
}

.home-page li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.home-page a {
  color: #007bff;
  text-decoration: none;
}

.home-page a:hover {
  text-decoration: underline;
}

.about-page {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.about-page h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.about-page h2 {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.about-page p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-page ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 20px;
}

.about-page ol {
  list-style: decimal;
  margin-left: 0;
  margin-bottom: 20px;
}

.about-page li {
  margin-bottom: 10px;
}

.about-page code {
  font-family: monospace;
  background-color: #f2f2f2;
  padding: 2px;
  border-radius: 3px;
}

.about-page a {
  color: #007bff;
  text-decoration: none;
}

.about-page a:hover {
  text-decoration: underline;
}