* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
.form-select-field{
  font-weight: 500;
  width: 90%;
  margin-bottom: 2%;
  font: icon;
  
}
.css-2613qy-menu{  
  position: fixed;
}
.MuiTableContainer-root {  
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  padding-bottom: 60px;
}
.MuiOutlinedInput-input {
  padding: 8.5px 14px;
}
.MuiFormHelperText-root {
  color: rgb(255 0 0 / 54%) !important;
}

.menu-container {
  position: relative;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li p {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-align: center;
}

