* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

/* Fixed select field large than the text fields */
.form-select-field{
  font-weight: 500;
  width: 90%;
  margin-bottom: 2%;
  font: icon;  
}

/* To center tables */
.MuiTableContainer-root {  
  display: flex;
  justify-content: space-around;
  overflow-x: auto;
  padding-bottom: 60px;
}

footer {
  background: black;
  padding: 50px 50px;
}

footer h3 {
  color: white;
  text-align: center;
  margin-top: -20px;
}

footer p {
  color: white;
  text-align: center;  
}

/* Remove the date placeholder mm/dd/yyyy */
input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text { 
  color: transparent; 
}